.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  
  .wrapper_footer {
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    height: 150px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1), 0 2px 20px rgba(0, 0, 0, 0.05); 
  }
  
  .linkLogo {
      font-size: 25px;
      font-weight: bold;
      color: #0f0f0f;
      letter-spacing: 1px;
      text-transform: uppercase;
      padding: 10px 20px;
      display: inline-block;
      text-decoration: none;
      user-select: none;
    }

    .link {
      cursor: pointer;
      user-select: none;

      &:hover {
        color: #ffa542;
      }
    }

    .lang {
      font-weight: 700;
      cursor: pointer;
      user-select: none;

      &:hover {
        color: #ffa542;
      }
    }

    .active {
        color: #ffa542;
    }

    .social {
      transition: all 0.3s ease-in-out;

      &:hover {
        transform: scale(0.9);
      }
    }
}

